# PORT
PORT=5000

# MONGODB ATLAS
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/civic_alert?retryWrites=true&w=majority

# CLOUDINARY CREDENTIALS
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# CLERK AUTHENTICATION
CLERK_PUBLISHABLE_KEY=pk_test_...
CLERK_SECRET_KEY=sk_test_...

# CORS FRONTEND URL
CLIENT_URL=https://civic-alert-salokhenagar.vercel.app
